body {
    background-color: #222222;
    font-family: 'Poppins', sans-serif;
}

.home {
    height: 720px;
}

.title {
    font-size: 100px;
    margin-top: 20px;
}

p {
    color: white;
    text-align: center;
}

.subheading {
    font-size: 40px;
}

.row2 {
    margin-bottom: 100px;
}

.fas {
    color: #f2eeee;
    font-size: 100px;
}

.about {
    background-color: #E26E3C;
    height: 700px;
}

.about-text {
    padding-top: 321px;
    font-size: 70px;
}

.profile-pics {
    border-radius: 50%;
    height: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
}

.profile-col {
    height: 220px;
    margin-top: 100px;
}

.showcase {
    background-color: white;
    height: 800px;
}

.showcase-text {
    text-align: center;
    color: #4DADAE;
    font-size: 70px;
    margin-top: 40px;
}


.quote {
    background-image: url('https://images5.alphacoders.com/695/695933.jpg');
    height: 650px;
}

.qt {
    text-align: center;
    color: white;
    font-size: 70px;
}

.contact {
    background-color:#4DADAE;
    height: 650px;
}

.ct {
    text-align: center;
    color: white;
    font-size: 70px;
    margin-top: 50px;
}

.left {
    text-align: center;
    font-size: 25px;
}

.right {
    text-align: center;
    font-size: 25px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 70px;
}
