
/* #mobile-view{
    display: block;
} */

/* #desktop-view{
    display: none;
} */


.icon_row{
    padding:40px;
}

.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

#home {
    height: 100vh;
    padding-top: 125px;
    background: url("../../assets/cohort.jpg_large"), linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size: cover;
}

#home:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, black, black);
    opacity: .6;
    z-index: 0;
  }

  p{
      font-size: 20px;
  }

  .subheading{
      text-align: center;
      z-index: 2;
      font-size: 30px;
  }
.title {
    font-size: 40px;
    margin-top: 20px;
}

div {
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}


.row2 {
    margin-bottom: 100px;
}

.row{
    margin-right: 0px;
    margin-left:0px;
}


.icon {
    color: #f2eeee;
    font-size: 100px;
    margin-left: auto;
    margin-right: auto;
}

.about {
    background-color: #E26E3C;
    width:100%;
    height: 500px;
}



.about-text {
    padding-top: 40px;
    font-size: 40px;
}


.bio{
    padding-top: 45px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    font-size:20px;
}

.profile-pics {
    border-radius: 50%;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    border-color: gray;

}

.profile-col {
    height: 150px;
}

.showcase {
    background-color:white;
    height: 400px;
    color: #4DADAE;
}

.showcase-text {
    text-align: center;
    color: #4DADAE;
    font-size: 30px;

}


.quote {
    /* background-image: url('https://images5.alphacoders.com/695/695933.jpg'); */
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://images5.alphacoders.com/695/695933.jpg');
    height: 600px;
}

.qt {
    text-align: center;
    color: white;
    font-size: 70px;
}

.contact {
    background-color:#4DADAE;
    width:  100vw;
}

.ct {
    text-align: center;
    color: white;
    font-size: 70px;
    margin-top: 50px;
}

.contact-section{
    padding-top: 45px;
    padding-left: 30px;
    padding-right: 30px;
}

.right-contact{
    text-align: justify;
}

.rights_reserved{
    font-size: 10px;
    text-align: center;
}

.left {
    text-align: justify;
    font-size: 15px;
}

.right {
    text-align: center;
    font-size: 17px;
    line-height:1.6;
}

h1 {
    text-align: center;
    color: white;
    font-size: 35px;
}

.icon{
    width: 100%;
    padding-bottom:10px;
}

.mobile{
    display: block;
}
.inline{
    display: inline-block;
    color: white;
    vertical-align: middle;
}

.icon-text{
    margin-left: 50px;
    font-size: 21px;
    color: white;
}

.icon-container{
    width: 75px;
    height: 75px;
    overflow: hidden;
}

.icon-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.icon-spacing{
    margin-bottom: 15px;
}

.col-12{
    padding:0px;
}

.headshots{
    border-radius:50%;
    width:50%;
    padding-top:15px;
    
}

#contact{
    font-size:30px;
    padding-top:10px;
    text-align: center;
}

.showcase-caption{
    font-size: 15px;
    color: #4DADAE;
}

.king_quote_container{
background-color:black;
}

.king_quote{
    padding:40px;
    padding-bottom:20px;
    padding-top:30px;
    line-height:1.8;
    text-align:center;
}
.bio{
    padding:40px;

}

#join_us_button{
    border-color: white;
    border-width: 3px;
    background-color: transparent;
    margin-bottom:30px;
}

#join_us_text{
    color:white;
    margin-bottom:0px;
}

@media (min-width: 576px) {
   #showcase{
       height:300px;
   }
.about{
    height:350px;
}


    #home{
        height: 400px;
        padding-top: 80px;
    }

    .icon-text{
        text-align: center;
        margin-left: 0px;
    }
.profile-pics{
    height:120px;
}
.title{
    margin-top:0px;
}

#home:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, black, black);
    opacity: .6;
    z-index: 0;
    height:400px;
  }

.about-text{
    padding-top:50px;
}

}

@media (min-width: 768px) {
    #home {
        height: 700px;
        padding-top: 125px;
        background: url("../../assets/cohort.jpg_large"), linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        background-size: cover;
    }
    #home:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right, black, black);
        opacity: .6;
        z-index: 0;
        height:700px;
      }

 #about{
    height:700px;
}

.king_quote_container{
    height:700px;
}

.showcase-caption{
font-size:25px;
}

.king_quote{
    padding-left:40px;
    padding-right:40px;
    font-size:30px;
    line-height:1.8;
}

.profile-col{
    height:300px;
}

#showcase{
height:400px;
}

.showcase-text{
    font-size:60px;
}
    .home{
        padding-top: 150px;
        height: 100vh;
    }

    .title{
        font-size: 85px;
    }

    .icon-container{
        width: 150px;
        height: 150px;
    }

    .icon-text{
        text-align: center;
        margin-left: 0px;
    }

    .about-text{
        padding-top: 140px;
        font-size: 60px;
    }

    .about-column{
        padding-left: 30px;
        padding-right: 30px;
    }

    .bio{
        padding-top: 60px;
        font-size: 25px;
        text-align: center;
    }

    .left{
        font-size: 25px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .txt-logo{
        padding-top: 110px;
    }

    h1{
        font-size: 60px;
        padding-top: 150px;
    }

    .right{
        font-size: 30px;
    }

}

@media (min-width: 992px) {
    /* #mobile-view{
        display: none;
    } */
    
    /* #desktop-view{
        display: block;
    } */

    .foster_quote{
    padding-bottom:40px;
    }




 .king_quote{
        padding-top:100px;
        padding-left:40px;
        padding-right:40px;
        font-size:30px;
        text-align:1.8;
        padding-bottom:40px;
    }

    #showcase{
        height:500px;
        }

    .title{
        font-size: 110px;
        color:white;
    }

    .subheading{
        font-size: 45px;
    }

    .home{
        padding-top: 170px;
    }



    .icon-container{
        width: 120px;
        height: 120px;
        margin: auto;
    }

    .icon-text{
        font-size: 35px;
    }

    .about-text{
    padding-top:90px;
        font-size: 85px;
    }

    .bio{
        padding-top: 50px;
        padding:40px;
        font-size: 30px;
        text-align: center;
    }

    .about-column{
        padding-left: 30px;
        padding-right: 30px;
    }

    .left{
        font-size: 35px;
        padding-left: 35px;
        padding-right: 35px;
    }

    .txt-logo{
        padding-top: 135px;
    }

    .profile-pics{
        height:200px;
    }
    #join_us_button{
        border-color: white;
        border-width: 3px;
        background-color: transparent;
        margin-bottom:30px;
        width: 500px;
        height: 100px;
    }
    
    #join_us_text{
        color:white;
        margin-bottom:0px;
        font-size:50px;
    }
}

@media (min-width: 1200px) {
    .about-text{
        padding-top:80px;
    }

    .icon_row{
        padding-top:60px;
    }
    .king_quote{
        padding-top:100px;
        padding-left:40px;
        padding-right:40px;
        font-size:30px;
        text-align:1.8;
        padding-bottom:40px;
    }
    .bio{
        padding-top: 50px;
        font-size: 30px;
        text-align: center;
        padding-left:50px;
        padding-right:50px;
    line-height:1.8;
    }

    #showcase{
        height:500px;
        }
     #join_us_button{
            border-color: white;
            border-width: 3px;
            background-color: transparent;
            margin-bottom:30px;
            width: 500px;
            height: 100px;
        }
        
        #join_us_text{
            color:white;
            margin-bottom:0px;
            font-size:50px;
        }
}