<!-- <div class="body"> -->

<div class="container-fluid wrapper" id="mobile-view">

  <!-- This is section #1 - Header -->
  <div class="container-fluid home" id="home">
    <div class="row">
      <div class="col-12">
        <p class="title">#FosterCode</p>
      </div>
    </div>


    <div class="row foster_quote">
      <div class="col-12">
        <p>
          Insert quote here.
        </p>
      </div>
    </div>

    <!-- this will show up on mobile -->
    <div class="row icon_row">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        <div class="icon-spacing">
          <div class="icon-container inline">
            <img src="../assets/solidarity.png" alt="" class="icon">
          </div>
          <div class="inline icon-text">
            Community
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        <div class="icon-spacing">
          <div class="icon-container inline">
            <img src="../assets/studying.png" alt="" class="icon">
          </div>
          <div class="inline icon-text">
            Academics
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        <div class="icon-spacing">
          <div class="icon-container inline">
            <img src="../assets/tech.png" alt="" class="icon">
          </div>
          <div class="inline icon-text">
            Technology
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- This is section #2 - "About" -->
  <div class="container-fluid about mobile" id="about">
    <div class="row">
      <div class="col-12">
        <div class="about-text">
          <a id="about-section">how it started</a>
        </div>
        <div class="bio">
          #FosterCode began as an idea to help foster youth learn how to code and develope skills essential to being successful.
          Over the course of 9 weeks, 20 students learned how to build dynamic web applications using HTML, JavaScript, CSS.
        </div>
      </div>

    </div>

  </div>


  <!-- THIS IS A PLACEHOLDER FOR SECTION #3 - THE MOBILE SHOWCASE SECTION -->

  <!-- Jeffrey's verion of showcase -->

  <!-- <div class="container-fluid" id="showcase_container">
    <div class="row">
      <div class="col-6">
        <img class="headshots"src="../../assets/jeffrey_headshot.png">
        <p>
          Jeffrey Ren
        </p>
      </div>
      <div class="col-6">
          <img class="headshots" src="../../assets/jeffrey_headshot.png">
        <p>
          Sami
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
          <img class="headshots" src="../../assets/jeffrey_headshot.png">
        <p>
          Angel
        </p>
      </div>
      <div class="col-6">
          <img class="headshots" src="../../assets/jeffrey_headshot.png">
        <p>
          Evelyn
        </p>
      </div>
    </div>
  </div>
</div> -->




  <!-- THIS IS A PLACEHOLDER FOR SECTION #3 - THE MOBILE SHOWCASE SECTION -->
  <div class="container-fluid showcase" id="showcase">
    <p class="showcase-text">
      showcase
    </p>

    <div class="row">
      <div class="col-6 col-sm-3 profile-col" *ngFor="let item of profileArray">
        <img [src]="item.url" class="profile-pics">
        <p class="showcase-caption">
          {{item.caption}}
          <br> {{item.website}}
        </p>
      </div>

    </div>
  </div>
  <!-- THIS IS A PLACEHOLDER FOR SECTION #3 - THE MOBILE SHOWCASE SECTION -->

  <!--
I had a dream quote section
-->

  <div class="container-fluid king_quote_container">
   
<div class="contactFormMarg">
    <div class="row">
      <div class="col-sm-12">
          <h2 class= "contactForm">Contact Us</h2>
        <form>


            <div class="form-group">
                <label for="exampleFormControlTextarea1">First Name</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
              </div>
              <div class="form-group">
                  <label for="exampleFormControlTextarea1">Last Name</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Subject</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Comments and Questions</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <button type="button" class="btn btn-primary btn-lg">Submit</button>
        </form>

      </div>
    </div>
  </div>
  </div>

  <!-- This is section #4 - "Contact"-->
  <div class="container-fluid contact mobile" id="contact">

    <div class="row contact-section">
      <div class="col-6">
        <img src="../assets/txt-logo.png" alt="" class="icon">
        <br>
        <p class="left">
          We serve young teens of color between the 7th and 11th grade who are from low income communities. Since
          2009, we've used
          the concept of developing strong teams as a way for our young men to learn about collaboration, ideation,
          and long
          lasting life skills. In small teams, our youth learn the process of taking an idea to the market.
        </p>

      </div>
      <div class="col-6 right-contact">
        <h1>Contact</h1>
        <br>
        <p class="right">
          3655 South Grand Avenue
          <br> Los Angeles, CA, 90007 Ste. 220
        </p>

      </div>
    </div>
  </div>









  <!-- This will show up on desktop -->

  <!-- <div class="container-fluid wrapper" id="desktop-view"> -->
  <!-- This is section #1 - Header -->
  <!-- <div class="container-fluid home" id="home">

        <div class="row">
          <div class="col-12">
            <p class="title">#FosterCode</p>
          </div>
        </div>

        <div class="row row2">
          <div class="col-12">
            <p class="subheading">
              Insert quote here.
            </p>
          </div>
        </div>

        <div class="row icon-row">

          <div class="icon-spacing col-4">
            <div class="icon-container">
              <img src="../assets/solidarity.png" alt="" class="icon">
            </div>
            <div class="icon-text">
              Community
            </div>
          </div>

          <div class="icon-spacing col-4">
            <div class="icon-container">
              <img src="../assets/studying.png" alt="" class="icon">
            </div>
            <div class="icon-text">
              Academics
            </div>
          </div>

          <div class="icon-spacing col-4">
            <div class="icon-container">
              <img src="../assets/home.png" alt="" class="icon">
            </div>
            <div class="icon-text">
              Technology
            </div>
          </div>
        </div>
      </div> -->


  <!-- This is section #2 - About -->
  <!-- <div class="container-fluid about desktop" id="about">
    <div class="row">
      <div class="col-12 about-column">
        <div class="about-text">
          <a id="about-section">how it started</a>
        </div>
        <div class="bio">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, corrupti fugiat? Recusandae adipisci culpa quibusdam,
          deleniti nam nesciunt consectetur consequuntur molestiae reprehenderit suscipit numquam explicabo non natus, corrupti
          molestias officiis.
        </div>
      </div>

    </div>

  </div> -->

  <!-- THIS IS A PLACEHOLDER FOR SECTION #3 - SHOWCASE DESKTOP -->


  <!-- THIS IS A PLACEHOLDER FOR SECTION #3 - SHOWCASE DESKTOP -->


  <!-- This is section #4 - Footer -->
  <!-- <div class="container-fluid contact desktop" id="contact">

    <div class="row contact-section">
      <div class="col-6">
        <img src="../assets/txt-logo.png" alt="" class="txt-logo">
        <br>
        <p class="left">
          We serve young teens of color between the 7th and 11th grade who are from low income communities. Since 2009, we've used
          the concept of developing strong teams as a way for our young men to learn about collaboration, ideation, and long
          lasting life skills. In small teams, our youth learn the process of taking an idea to the market.
        </p>
      </div>
      <div class="col-6 right-contact">
        <h1>Contact</h1>
        <br>
        <p class="right">
          3655 South Grand Ave., Ste. 220
          <br> Los Angeles, CA, 90007
        </p>
      </div>
    </div>
  </div> -->
</div>