body {
    background-color: #222222;
    font-family: 'Poppins', sans-serif;
}

.title {
    font-size: 100px;
}

p {
    color: white;
    text-align: center;
}

.subheading {
    font-size: 40px;
}

.row2 {
    margin-bottom: 100px;
}

.fas {
    color: #f2eeee;
    font-size: 100px;
}

.about {
    background-color: #E26E3C;
    width: 100vw;
    height: 700px;
}

.about-text {
    padding-top: 321px;
    font-size: 70px;
}

.profile-pics {
    border-radius: 50%;
    height: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
}

.profile-col {
    height: 220px;
    margin-top: 90px;
}

.showcase {
    background-color: white;
    height: 650px;
}

.sc {
    text-align: center;
    color: #4DADAE;
    font-size: 70px;
    margin-top: 50px;
}