<body>

  <!-- This is the top section -->
  <div class="container-fluid home" id="home">

    <div class="row row1">

      <div class="col-12">
        <p class="title">#FosterCode</p>
      </div>

    </div>

    <div class="row row2">

      <div class="col-3">
        <!-- This empty column just used for spacing -->
      </div>

      <div class="col-6">
        <p class="subheading">
          level franzen selfies, bitters prism tacos yuccie
        </p>
      </div>

      <div class="col-3">
        <!-- This empty column just used for spacing -->
      </div>

    </div>

    <div class="row row3">

      <div class="col-4">
        <p>
          <i class="fas fa-home"></i>
        </p>
        <p>
          level franzen selfies, bitters prism tacos yuccie
        </p>
      </div>

      <div class="col-4">
        <p>
          <i class="fas fa-home"></i>
        </p>
        <p>
          level franzen selfies, bitters prism tacos yuccie
        </p>
      </div>

      <div class="col-4">
        <p>
          <i class="fas fa-home"></i>
        </p>
        <p>
          level franzen selfies, bitters prism tacos yuccie
        </p>
      </div>

    </div>


  </div>

  <a href="#about-section">learn more</a>

  <!-- This is the orange "how it started" section -->
  <div class="container-fluid about">

    <div class="row">

      <div class="col-12">
        <p class="about-text">
         <a id="about-section">how it started</a>
        </p>
      </div>

    </div>

  </div>

  <!-- This is the "showcase" section -->

  <div class="container-fluid showcase" id="showcase">
      <div class="row">
        <div class="col-3 profile-col" *ngFor="let item of profileArray">
          <img [src]="item.url" class="profile-pics">
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <p class="sc">
            showcase
          </p>
        </div>
      </div>
  </div>

  <!-- This is the quote section -->

  <div class="container-fluid quote" id="quote">
    <div class="row">
      <div class="col-12">
        <p class="qt">
          quote
        </p>
      </div>
    </div>
  </div>

  <!-- This is the contact section-->
  <div class="container-fluid contact" id="contact">
      <div class="row">
        <div class="col-12">
          <p class="ct">
            contact
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <h1>TXT</h1>
          <p id="left">
            We serve young teens of color between the 7th and 11th grade who are from
            low income communities. Since 2009, we've used the concept of developing strong teams 
            as a way for our young men to learn about collaboration, ideation, and long lasting life skills.
            In small teams, our youth learn the process of taking an idea to the market.
          </p>

        </div>
        <div class="col-6">
          <h1>Contact</h1>
          <p id="right">
            3655 South Grand Avenue
            </p>
            <p>
            Los Angeles, CA, 90007 Ste. 220
          </p>

        </div>
      </div>
    </div>


</body>